:root {
    --primary-color: #b45309;
    --dark-primary-color: #6e3102;
    --white-color: #f2f2f2;
    --grey-color: #868686;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

p{
    font-weight: 100;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.nav {
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: rgb(43, 43, 43);
}

.btns {
    margin-top: 20px;
}

.btnMenu {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: white;
    border-radius: 25px;
    padding: 15px 35px;
}

.btnMenu:hover {
    background-color: var(--dark-primary-color);
    color: var(--white-color);
    border-color: var(--dark-primary-color);
    cursor: pointer;
}

.btn {
    padding: 10px;
    background-color: var(--primary-color);
    border: 10px;
    border-radius: 10px;
    color: white;
}

.main {
    position: relative;
    background-image: url(https://images.pexels.com/photos/3968061/pexels-photo-3968061.jpeg?cs=srgb&dl=pexels-haleyve-3968061.jpg&fm=jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    text-shadow: 2px 2px 5px black;
    overflow: hidden;
    padding: 60px;
}


.main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    z-index: 0;
}


.about,
.main img {
    position: relative;
    z-index: 1;
}

.about {
    width: 400px;
    padding: 30px;
    font-size: 24px;
}

span {
    color: var(--primary-color);
    font-size: 50px;
}

.btn2 {
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: 15px;
    margin-top: 15px;
    color: white;
}

.btn2:hover {
    background-color: #6e3102;
}

.cafe {
    display: flex;
    justify-content: center;
}

.why {
    background-color: #fff9f3;
    text-align: center;
    width: 800px;
    padding: 25px;
}

.why h2{
    margin: 25px 0;
    font-weight: bold;
}

.why p {
    color: var(--grey-color);
}

.fun {
    display: flex;
    gap: 25px;
    justify-content: center;
    padding: 0 80px;
}

.box {
    width: 300px;
    text-align: center;
    margin: 50px 0;
    padding: 20px;
    background-color: #fff9f3;
    font-size: 13px;
    border-radius: 25px;
}

.box p {
    color: #868686;
}

.box h2 {
    margin: 15px 0;
}

.box:hover {
    background-color: #fffbec;
}

.text1 {
    margin-top: 20px;
    color: rgb(40, 40, 40);
    text-align: center;
}

.menu {
    background-color: #fff;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    gap: 20px;

    margin: 0 auto;

}

.menu1 {
    background-color: #f2e4d5;
    border-radius: 8px;
    padding: 25px;
    width: 390px;
}

.menu1 h1 {
    margin: 15px 0;
}

.menu1 p {
    margin: 15px 0;
}

.menu1 ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    text-align: left;
}

ul li::before {
    content: "✓";
    color: #c38325;
    margin-right: 8px;
    text-decoration: none;
}

.btn2 {
    border-radius: 10px;
    padding: 10px;
    border: none;
    width: 100%;
}

.aboutus {
    display: flex;
    justify-content: center;
    gap: 105px;
    padding: 30px;
}

.story {
    width: 600px;
    padding: 30px;
    margin-bottom: 10px;
}

.header1 {
    margin-bottom: 10px;
}

.p1 {
    margin-bottom: 10px;
}

.users {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    color: var(--primary-color);
    font-size: 10px;
}

.random {
    display: flex;
    justify-content: space-around;
    margin-left: 40px;
    margin-top: 5px;
}

.p4 {
    margin-left: 60px;
}


.p3 {
    margin-left: 15px;
}

.visit {
    background-color: #fff9f3;
    text-align: center;
    padding: 25px;
    font-size: 20px;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin-top: 20px;
}

.icon {
    padding: 25px;
    border-radius: 50px;

}


.contact-info {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.hi {
    padding: 0 150px;
}

.haha {
    width: 400px;
    background: #fff;
    margin: 60px;
    padding: 25px 30px;
    border-radius: 12px;
}

form {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 15px;
}

.hh {
    margin-bottom: 20px;
}

.btn7 {
    background-color: var(--primary-color);
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
}

.btn7:hover {
    background-color: #6e3102;
}


.footer {
    background-color: #0f172a;
    color: #ccc;
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
    flex-wrap: wrap;
    gap: 30px;

}

.footercolumn {
    max-width: 250px;
}

.logo {
    color: #f59e0b;

}

.footercolumn h3 {
    color: #fff;
    margin-bottom: 15px;
}

.footercolumn ul {
    list-style: none;
    padding: 0;
}

.footercolumn ul li {
    margin-bottom: 10px;
}

.footercolumn ul li a {
    color: #ccc;
    text-decoration: none;
}




.socialicons a {
    color: #ccc;
    margin-right: 10px;
    font-size: 18px;
    text-decoration: none;
}